<template>
    <p>List of available examples</p>
    <renderer-tree :tree="renderers" name="Categories"/>
</template>

<script>
import {RendererFactory} from '../app/_util/Renderer';
import RendererTree from '../app/vueComponents/RendererTree';

export default {
    name: 'Home',
    components: {
        RendererTree,
    },

    data: () => ({
        renderers: RendererFactory.getRendererCategories(),
    })
}
</script>
