<template>
    <div>
        <router-link to="/">
            Back
        </router-link>
    </div>
    <div id="p5-container"></div>
</template>

<script lang="ts">
import { RendererFactory } from '../app/_util/Renderer'

export default {
    name: 'Renderer',
    mounted() {
        this.setupP5()
    },
    data: () => ({
        p5: null,
    }),
    methods: {
       async setupP5() {
            this.p5 = await RendererFactory.createP5ForRenderer(
                this.$route.params.renderer,
                'p5-container',
            )
        },
    },
    beforeUnmount() {
        this.p5.remove()
        this.p5 = null
    },
}
</script>

<style scoped>

</style>
