<template>
    <div class="tree">
        <div>{{name}}</div>
        <div class="tree-list" v-for="(node, key) in tree">
            <RendererTree v-if="!Array.isArray(node)" :tree="node" :name="key"/>
            <div v-else >
                <router-link :to="'/' + node.join('/')" :exact="true">
                    {{ key }}
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'RendererTree',
    props: {
        tree: Object,
        name: String,
    },
    methods: {
        log: function(){
            console.log(...arguments)
            return ''
        }
    }
}
</script>

<style scoped>

.tree-list {
    padding-left: 16px;
    margin: 6px 0;
}

</style>
